@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 1920px;
  height: 1080px;
}

.container_img{
    display: flex;
    justify-content: space-between;
   
}
.registracion_div{
    width: 434px;
    height: 794px;
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 100px;
}
.heading{
    display: flex;
    justify-content: space-around;
}
.name_inp{
    width: 432.17px;
height: 60px;
border-radius: 15px;
font-family: Poppins;
font-size: 18px;
font-weight: 300;
line-height: 29.97px;
text-align: left;


}

.button{
    display: flex;
    justify-content: center;
flex-direction: column;
}